<h1>Director Details</h1>

<p><%=@director.name%></p>
<img src="<%= @director.image_url %>" width="80">
<p><%= @director.dob %></p>
<p><%= @director.bio %></p>
<a href="/directors">Back</a>
<a href="http://localhost:3000/director_delete/<%= @director.id %>">Delete</a>
